#consulter la bibliothèque acceuil
<h2>Bienvenue sur la boutique en ligne</h2>

<p>Nom d'utilisateur</p>
<form action="index.php" method="get">
    <input type="text" name="utilisateur" placeholder="nom d'utilisateur ou id ">
    <input type="submit" value="Utilisateur">
<p>Si aucun nom (ou id), tous les utilisateurs seront affichés</p>
</form>
<p>Titre du livre</p>
<form action="index.php" method="get">
    <input type="text" name="livres" placeholder="nom du livre ou id">
    <input type="submit" value="Livres">
<p>Si aucuns livres (ou id_livres), tous les livres seront affichés</p>
</form>
